.main {
    margin: 10px auto;
    padding: 20px;
    background: #EEE;
    width: 80em;
    zoom: 1;
}

.header {
    font-size: 2em;
    text-align: center;
}

.header_link {
    color: #404040;
}

.navigator {
    margin: auto;
    width: 100%;
    display: inline-block;
}

.navigator_item {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 1.2em;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: violet;
}

.activated {
    color: red;
}

footer {
    color: gray;
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
    margin: auto;
}

td {
    overflow: hidden;
}

.incar_cnt {
    text-align: left;
    padding-top:1%;
    padding-bottom: 1%;
}

.downStation {
    font-size: 2px;
    background: #9600FF;
    display:inline-block;
}

.upStation {
    font-size: 2px;
    background: #B51F1A;
    display:inline-block;
}

.timeTag {
    font-size: 2px;
    background: white;
    display:inline-block;
}

.tdLine {
    padding: 0;
    text-align: center;
    float:inline-start;
}