.main {
    margin: 10px auto;
    padding: 20px;
    background: #EEE;
    width: 80em;
    zoom: 1;
}

.header {
    font-size: 2em;
    text-align: center;
}

.header_link {
    color: #404040;
}

.navigator {
    margin: auto;
    width: 100%;
    display: inline-block;
}

.navigator_item {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 1.2em;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: violet;
}

.activated {
    color: red;
}

footer {
    color: gray;
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
    margin: auto;
}

td {
    overflow: visible;
}

.incar_cnt {
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

.upStation {
    /* font-size: 12px; */
    background: #B51F1A;
    /* display:inline-block; */
    text-align: right;
    float: left;
    /* padding-left: 1em; */
    height: 1em;
    color: yellowgreen;
}

.upStation_inner {
    float: left;
    text-align: right;
}

.downStation {
    /* font-size: 12px; */
    background: #9600FF;
    text-align: left;
    float: right;
    /* padding-right: 1em; */
    /* display:inline-block; */
    height: 1em;
    color: yellowgreen;
}

.downStation_inner {
    float: right;
    text-align: left;
}

.timeTag {
    /* font-size: 12px; */
    background: white;
    display: inline-block;
    height: 1em;
}

.tdLine {
    padding: 0;
    text-align: center;
    float: inline-start;
}

.hint {
    /* text-align: center; */
    font-weight: bolder;
    font-size: 1em;
}

.form_packer {
    margin:auto;
    /* width: 40%;
    padding: 0, auto; */
}
