.main {
    margin: 10px auto;
    padding: 20px;
    background: #EEE;
    width: 80em;
    zoom: 1;
}

.header {
    font-size: 2em;
    text-align: center;
}

.header_link {
    color: #404040;
}

.navigator {
    margin: auto;
    width: 100%;
    display: inline-block;
}

.navigator_item {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 1.2em;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: violet;
}

.activated {
    color: red;
}

footer {
    color: gray;
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
    margin: auto;
}

td {
    overflow: hidden;
}

.incar_cnt {
    text-align: left;
    padding-top:1%;
    padding-bottom: 1%;
}

.green {
    background: linear-gradient(to right, rgb(159, 255, 128), rgb(140, 255, 102));
}

.yellow {
    background: linear-gradient(to right, rgb(255, 223, 128), rgb(255, 217, 102));
}

.red {
    background: linear-gradient(to right, rgb(255, 134, 128), rgb(255, 110, 102));
}