<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>线路进出站人数时间分布 | 北京地铁统计信息</title>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/general.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/general.css"> -->
    <!-- 仅测试用！ -->
</head>

<body>
    <div class="main">
        <div class="header">
            <a class="header_link" href="/">北京地铁统计信息</a>
        </div>
        <div class="navigator">
            <a class="navigator_item" href="/SubwayPeople">地铁内人数时间分布</a>
            <a class="navigator_item" href="/StationIO">进出站人数时间分布</a>
            <a class="activated navigator_item" href="/LineIO">线路进出站人数分布</a>
        </div>
        <form action="/LineIO" method="POST">
            {{form_innerHTML|safe}}
            <!-- <input name="checklist" type="radio" value="1" ID="1" checked/><label for="1">test</label> -->
            <br />
            <input type="submit">
        </form>
        <table border="1" cellpadding='0' cellspacing='0'>
            {{table_innerHTML|safe}}
        </table>
        <footer>
            <p>©2020 wr786</p>
        </footer>
    </div>
</body>